<!doctype html>
<html ng-app='app'>
<!-- http://jsfiddle.net/whnSs/ -->
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
</head>
<body>

<script type='text/javascript'>
var app = angular.module('app', []);

app.factory('items', function() {
    var items = [];
    var itemsService = {};
    
    itemsService.add = function(item) {
        items.push(item);
    };
    itemsService.list = function() {
        return items;
    };
    
    return itemsService;
});

function Ctrl1($scope,items) {
    $scope.list = items.list;
}

function Ctrl2($scope, items) {
    $scope.add = items.add;
}
</script>

<div ng-controller="Ctrl1">
    <h2>Ctrl1 - List</h2>
    <ul>
        <li ng-repeat="item in list()">{{item}}</li>
    </ul>
</div>
<hr />
<div ng-controller="Ctrl2">
    <h2>Ctrl2 - Add</h2>
    <form ng-submit="add(newItem); newItem = '';">
        <input type="text" placeholder="new item..." ng-model="newItem">
        <br />
        <input class="btn" type="submit">
    </form>
</div>

</body>
</html>
